@charset "utf-8";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	font : inherit;
}
a {
	text-decoration: none;
	color:#505050;
}


.blind{
	text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    width: 0;
    height:0;
}
.ftclr_orange{
	color:#ec4e00 !important;
}
.ftclr_deepgray{
	color:#333333;
}
.ftclr_black{
	color:#000;
}
.ftclr_lightblue{
	color:#27abbb;
}
a.ftclr_lightblue {text-decoration:underline;}
.underline {text-decoration: underline;}

.fts_14 {font-size:1.077em !important;}
.fts_16 {font-size:1.231em !important;}
.ftw_b{
	font-weight:700;
}

.fl_r{
	float:right;
}
.fl_l{
	float:left;
}
.bdl_none{
	border-left:none !important;
}
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
.dp_block{
	display:block;
}

/*align*/
.al_c{
	text-align:center !important;
}
.al_l{
	text-align:left !important;
}
.al_r{
	text-align:right !important;
}
.vertical_mid{
	vertical-align: middle;
}
/*margin, padding*/
.mgt30{
	margin-top:30px
}
.mgt5{
	margin-top:5px
}
.mgt10{
	margin-top:10px
}
.mgt15{
	margin-top:15px !important
}
.mgl24{
	margin-left:24px;
}
.mgl20{
	margin-left:20px;
}
.mgl15{
	margin-left:15px;
}
.mgb20{
	margin-bottom:15px;
}
.pdl20{
	padding-left:20px;
}
.pdl10{
	padding-left:10px;
}

.indent0 {text-indent:0 !important;}
.tbl-top-pd {margin-bottom:30px;}

/*bullet*/
.bullet_arrow {
	position:relative;
	padding-left:24px;font-size:1.538em;
	display:block;margin-bottom:15px;line-height:1.25em;
}
.bullet_arrow:before{
	content:"";
	background:url(../images/common/ico_common.png) -90px top no-repeat;
	position:absolute;left:0;top:2px;
	width:15px;height:18px;
}
.bullet_yellowarrow{
	position:relative;
	padding-left:24px;
	display:block;font-size:1.385em;
	margin-bottom:10px;
}
.bullet_yellowarrow:before{
	content:"";
	background:url(../images/common/ico_common.png) -30px top no-repeat;
	position:absolute;
	width:13px;
	height:13px;
	top:0.3em;
	left:0;
}
.bullet_exclam{
	position:relative;
	padding-left:19px;
	display:block;
}
.bullet_exclam:before{
	content:"";
	background:url(../images/common/ico_common.png) left top no-repeat;
	position:absolute;
	width:14px;
	height:14px;
	top:0.4em;
	left:0;
}
.bullet_exclam.bullet_exclam02:before{
	top:-2px;
}

strong.bullet_exclam, h4.bullet_exclam, h5.bullet_exclam {color:#000;font-weight:700;}
.bullet_dash{
	position:relative;
	padding-left:9px;
	display:block;
}
.bullet_dash:before{
	content:'-';
	position:absolute;
	top: 0px;
    left: 0;
}
.bullet_dot{
	position:relative;
	padding-left:10px;
	display:block;
}
.bullet_dot:before{
	content:'ㆍ';
	position:absolute;
	top:0;
	left:-2px;
}
.bullet_billiard{
	position:relative;
	padding-left:17px;
	display:block;
}
.bullet_billiard:before{
	content:'※';
	position:absolute;
	top:0;
	left:0;
}

.li-gap-list > li {margin-top:20px;}
.li-gap-list > li:first-child {margin-top:0;}

.tit-text-only {font-size:1.692em;margin-bottom:20px;}
/*//bullet*/

/*tab*/
.tab_basic.tab_basic_two li{
	width:50%;
}
.tab_basic.tab_basic_three li{
	width:33.333333%;
}
.tab_basic.tab_basic_three li:last-child {
	width:33.333334%;
}
.tab_basic .sel_txt{
	display:none;
}
.tab_basic li {
	display:table;float:left;
	background-color:#766c62;
	width: 25%;height:60px;    
}
.tab_basic li a {
	display:table-cell;
	padding:0 15px;
	border-left:1px #8a7e72 solid;
	background-color:#766c62;
	color:#fff;vertical-align: middle;text-align: center;
	height:100%;width:100%;
}
.tab_basic li:first-child a {
	border-left:none;
}
.tab_basic li a.active{
	background:url(../images/common/tab_onbg.jpg) 0 0 repeat;
	font-size:1.250em;
	font-weight:700;text-shadow:2px 2px 1px #e08807;
}
.tab_con{
	display:none;
}
.tab_con.show{
	display:block;
}
.tab_subsection{
	margin-top:60px;font-size:0.815em;color:#505050;
}

.tab_subsection.only {margin-top:30px;}

.tab_subsection:after {content:"";display:block;clear:both;}
.tab_subsection + .tab_subsection {margin-top:50px;}
.half-block {float:left;width:50%;padding:0 15px;}
.half-block:nth-child(even) {padding-left:0;}
.half-block:nth-child(odd) {padding-right:0;}
/*//tab*/
/*accordion*/
.accordionheader {
	display:block;position:relative;
	border-top: 1px #dedede solid;	border-bottom:1px #645b4c solid;
	font-weight: 700;	color:#333;	font-size:1.231em;
	padding:11px 30px 11px 15px;
	background-color:#f4f4f4;
}
.accordionheader p.small {font-size:13px;line-height:1.50em;}
.accordionheader:after {content:"";position:absolute;right:15px;top:50%;margin-top:-3px;width:10px;height:6px;background:url(../images/common/ico_common.png) -60px top no-repeat;}
.accordionheader.on:after {background-position:-60px -20px;}
.accordionheader.on {background-color:#d1bba2;}
.accordionbody {margin:20px 0 40px 0;}
.accordionbody.nopadding {margin-top:0;}
.accordionbody:after {content:"";display:block;clear:both;}

.accordionheader.hasIcon {padding:15px 30px 15px 85px;}
.accordionheader.hasIcon:before {content:"";position:absolute;left:10px;top:50%;width:70px;height:50px;margin-top:-25px;background:url(../images/car/ico_car.png) no-repeat;}
.accordionheader.hasIcon.car01:before {background-position:center top;}
.accordionheader.hasIcon.car02:before {background-position:center -50px;}
.accordionheader.hasIcon.car03:before {background-position:center -100px;}
.accordionheader.hasIcon.car04:before {background-position:center -150px;}
.accordionheader.hasIcon.car05:before {background-position:center -200px;}
.accordionheader.hasIcon.car06:before {background-position:center -250px;}
.accordionheader.hasIcon.car07:before {background-position:center -300px;}

.list li {line-height:1.85em;}

/*//accordion*/

.number-list li > ul, .number-list > li .number-list  {margin-left:1.154em;}
.number-list > li > p {text-indent:-1.154em;padding-left:1.154em;}
.number-list > li > p + .bullet_billiard {margin-left:1.154em;text-indent:0;}

.radio, .checkbox {position:absolute;left:-999em;z-index:-1;}
.lb-radio {
	display:inline-block;position:relative;
	padding-left:27px;
}
.lb-radio:before {content:"";position:absolute;left:0;top:50%;margin-top:-10px;width:20px;height:20px;background:url(../images/common/ico_common.png) -30px -50px no-repeat;}
.radio:checked + .lb-radio:before {background-position:-60px -50px;}

.lb-checkbox {
	display:inline-block;position:relative;
	padding-left:23px;
}
.lb-checkbox:before {content:"";position:absolute;left:0;top:50%;margin-top:-8px;width:16px;height:16px;background:url(../images/common/ico_common.png) -90px -50px no-repeat;}
.checkbox:checked + .lb-checkbox:before {background-position:-120px -50px;}
.checkbox + .lb-checkbox, .radio + .lb-radio {margin-right:20px;}

.btn-box {margin-top:25px;}
.btn-box input[type="submit"], .btn-box a.submit {background:#fdb913;border:0;height:40px;min-width:100px;color:#444;font-size:1.077em;font-weight:700;padding:0 25px;display:inline-block;line-height:40px;}

.btn-detail {display:inline-block;border:solid 1px #2e2e2e;font-size:12px;background:#787878;color:#f7f7f7;padding:12px;line-height:0px;height:0px;
		border-radius:3px;background:linear-gradient(#787878,#454545);font-weight:700;}
.btn-detail.wht {background:#fff;color:#666;border-color:#ccc;padding:12px 10px;}		
/*header*/
header {
	width:100%;
	border-bottom:2px #fdb016 solid;
}

.logo_area{
	max-width:900px;min-height:96px;
	margin:0 auto;
	position:relative;
}
.logo {
	position:absolute;left:0;top:28px;
	background:url('../images/common/logo_d.png') 0 0 no-repeat;
	width:180px;height:46px;
	text-indent:-999em;overflow:hidden;
}
.logo_area > a {
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	display:none;
}
.logo_area h2{
	text-align:right;
	font-size:2em;line-height:1em;
	color:#444444;
	padding:44px 0 20px 0;
}
.mobile_only{
	display:none;
}
.content{
	padding:30px 0 80px 0;
	max-width:900px;
	margin:0 auto;
}
.visual{
	background:url(../images/common/header_bg.jpg) 0 bottom no-repeat;
	min-height:195px;
	padding:30px 40px 25px 40px;
	background-color: #f4f2ef;
}
.visual_hello{
	color:#333;
	font-size: 1.75em;
	padding-bottom:20px;
	line-height:1em;
}
.visual_centerbar{
	color:#505050;
	font-size:0.875em;
	line-height: 1.858em;
	position:relative;z-index:2;
	padding-top:18px;
}
.visual_centerbar:before{
	position:absolute;
	content:'';
	width:18px;
	height:2px;
	left:0;
	top:0;
	display: block;
	background-color:#fcaf17;
}
.visual_centerbar span{
	display:block;
}

.inquiryList {padding-top:20px;}
.inquiryList > ul {border-top:solid 2px #575757;}
.inquiryList > ul > li {border-bottom:solid 1px #cfcfcf;line-height:1.250em;}
.inquiryList > ul >  li > a {display:block;padding:18px 50px 18px 15px;position:relative;}
.inquiryList > ul >  li > a:after {content:"";position:absolute;right:20px;top:50%;margin-top:-10px;width:11px;height:20px;background:url(../images/common/ico_common.png) -160px top no-repeat;}
.inquiryList > ul >  li > a .title {font-weight:700;}
.inquiryList > ul >  li > a .info {color:#505050;font-size:0.813em;margin-top:8px;}


/** visual addition **/

.visual {overflow:hidden;background:url();background-color:#f4f2ef;position:relative;}
.visual .star-box {position:absolute;opacity:0;}
.visual .star-box img {max-width:100%;}
.visual .star1 {bottom:-50px;right:-40px;width:200px;}
.visual .star2 {bottom:-70px;right:65px;width:120px;}
.visual .star3 {bottom:60px;right:105px;width:100px;}
.visual .star4 {bottom:65px;right:210px;width:70px;z-index:1;}
.visual .star5 {bottom:15px;right:200px;width:70px;}
.visual .star6 {bottom:45px;right:300px;width:43px;}
.visual .star7 {bottom:17px;right:170px;width:37px;}
.visual .star8 {bottom:95px;right:280px;width:27px;}
.visual .star9 {bottom:115px;right:315px;width:30px;}
.visual .star10 {bottom:150px;right:355px;width:12px;}
.visual .star11 {bottom:25px;right:273px;width:12px;}

.star-ani1 {animation:star-ani1 1s;animation-fill-mode:forwards;}
.star-ani2 {animation:star-ani2 1s;animation-fill-mode:forwards;}
.star-ani3 {animation:star-ani3 1s;animation-fill-mode:forwards;}
.star-ani4 {animation:star-ani4 1s;animation-fill-mode:forwards;}
.star-ani5 {animation:star-ani5 1s;animation-fill-mode:forwards;}
.star-ani6 {animation:star-ani6 1s;animation-fill-mode:forwards;}
.star-ani7 {animation:star-ani7 1s;animation-fill-mode:forwards;}
.star-ani8 {animation:star-ani8 .5s;animation-fill-mode:forwards;}
.star-ani9 {animation:star-ani9 .5s;animation-fill-mode:forwards;}
.star-ani10 {animation:star-ani10 .5s;animation-fill-mode:forwards;}
.star-ani11 {animation:star-ani11 .5s;animation-fill-mode:forwards;}


@keyframes star-ani1 { 
	0% {
		opacity : 0;
		transform:translate(100%, 100%) ;
		transform:rotate(0);
	}
	100% {
		opacity:1;
		transform:translate(0,0);
		transform : rotate(-20deg);
	}
}
@keyframes star-ani2 { 
	0% {
		opacity : 0;
		transform:translateY(100%);
	}
	100% {
		opacity:0.8;
		transform:translateY(0);
	}
}
@keyframes star-ani3 { 
	0% {
		opacity : 0;
		transform:rotate(-30deg);
	}
	100% {
		opacity:0.8;
		transform : rotate(0);
	}
}
@keyframes star-ani4 { 
	0% {
		opacity : 0;
		transform:rotate(0);
	}
	100% {
		opacity:0.6;
		transform : rotate(15deg);
	}
}
@keyframes star-ani5 { 
	0% {
		opacity : 0;
		transform:rotate(0);
	}
	100% {
		opacity:1;
		transform : rotate(-15deg);
	}
}
@keyframes star-ani6 { 
	0% {
		opacity : 0;
		transform:rotate(0);
	}
	100% {
		opacity:0.7;
		transform : rotate(10deg);
	}
}
@keyframes star-ani7 { 
	0% {
		opacity : 0;
		transform:scale(0.5);
	}
	100% {
		opacity:1;
		transform : scale(0.9);
	}
}
@keyframes star-ani8 { 
	0% {
		opacity : 0;
		transform:rotate(0) scale(0.5);
	}
	100% {
		opacity:0.8;
		transform : rotate(10deg) scale(0.9);
	}
}
@keyframes star-ani9 { 
	0% {
		opacity : 0;
		transform:rotate(0);
	}
	100% {
		opacity:1;
		transform : rotate(-10deg);
	}
}
@keyframes star-ani10 { 
	0% {
		opacity : 0;
		transform:translate(100%,100%);
	}
	100% {
		opacity:.5;
		transform:translate(0,0);
	}
}
@keyframes star-ani11 { 
	0% {
		opacity : 0;
	}
	100% {
		opacity:1;
	}
}


/*footer*/
footer{
	width:100%;
	background-color:#686765;
}

.text_box {
	line-height:1.85em;
}
.text_box_in {padding-left:24px;line-height:1.85em;}
.text_box_in02 {padding-left:19px;line-height:1.85em;}
.text_box + .text_box {margin-top:30px;}
.text_box_in02 + .text_box_in02 {margin-top:30px;}
ul + .text_box, ol + .text_box {margin-top:30px;}
.text_box_in02 + h5, .text_box_in02 + h4 {margin-top:20px;}
.text_box + .accordion_wrap {margin-top:25px;}	

.addr{
	max-width:900px;
	margin:0 auto;
	text-align: center;
	padding:20px 0;
}
.addr span{
	display:inline-block;
	color:#bdbdbc;
	font-size:0.815em;
	line-height: 1.69em;
}
.addr span:nth-child(2){
	padding-left:20px;
}

.btn_call{
	color:#444;
	padding:0 10px;
	border-left:1px #acacac solid;
	border-bottom:1px #9d9d9d solid;
	border-top:1px #d8d8d8 solid;
	border-right:1px #bdbdbd solid;
	display:inline-block;
	margin-left:7px;
	line-height:22px;
}
.btn_call.pos_ab {position:absolute;right:10px;top:50%;margin-top:50%;margin-top:-12px;}

.desktop_only {
	display:block;
}


#dimmed {position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;z-index:900;}
.alert-wrap {position:fixed;left:50%;top:50%;max-width:500px;min-width:300px;z-index:910;}
.alert-wrap .alert-box {margin:20px;background:#fff;text-align:center;padding:35px 30px;border-radius:5px;border:solid 2px #fdb913;}
.alert-wrap .alert-box > p {font-size:0.875em;line-height:1.25em;padding-bottom:20px;}
.alert-wrap .alert-box > a {display:inline-block;background:#fdb913;color:#5a554d;border-radius:3px;font-size:0.813em;line-height:2.2em;padding:0 15px;font-weight:700;margin:0 5px;}
.accordion_wrap.m-type-diff span.detail {display:none;}

.accordion_wrap.m-type-diff span.detail {display:none;position:absolute;right:10px;top:50%;margin-top:-10px;font-size:11px;border:solid 1px #2e2e2e;background:#787878;color:#f7f7f7;padding:10px 5px;line-height:0px;height:0px;
		border-radius:2px;background:linear-gradient(#787878,#454545);font-weight:400;}


@media all and (max-width:900px){
.logo_area, .content, .addr{
	margin:0 15px;
}

@media all and (max-width:768px){
	.accordion_wrap.m-type-diff span.detail {display:block;}
	.accordion_wrap.m-type-diff .accordionheader {padding-right:75px;}
	
	.accordionheader:after { background-position:-225px top;background-size:300px auto;}
	.accordionheader.on:after { background-position:-225px -10px;background-size:300px auto;}

	.accordion_wrap.m-type-diff .accordionbody {position:fixed;left:0;top:0;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;
				background:#fff;z-index:990;margin:0;padding:20px 10px;z-index:900;}
	.accordion_wrap.m-type-diff .accordionbody h3.m-title {background:#f8b500;color:#5a5349;font-size:1.286em;padding:15px 30px 15px 10px;font-weight:700;line-height:1.25em;position:fixed;left:0;top:0;width:100%;z-index:901;}
	.accordion_wrap.m-type-diff .accordionbody h3.m-title > a {display:block;position:absolute;right:5px;top:50%;margin-top:-13px;text-indent:-999em;overflow:hidden;width:26px;height:26px;background:url(../images/common/ico_common.png) -120px top no-repeat;z-index:902;}

	.bullet_yellowarrow:before{
		background-position:-200px top;background-size:300px auto;
	}
	.bullet_exclam:before{
		background-position:-175px top;background-size:300px auto;
	}	

	.addr span{
		font-size:0.75em;
	}
	.addr span:nth-child(2){
		padding-left:0;
	}
	header{
		height:auto;
		border-bottom:none;
	}
	.content{
		margin:0;
		padding-top:0;
		padding-bottom:50px;
	}

	.logo {
		position:static;left:auto;top:auto;
		background:#766c62;width:100%;height:56px;border-bottom:solid 1px #9b938c;
	}
	.logo > a {
		background:url('../images/common/logo_m.png') center center no-repeat;
		display:block;
		width:146px;
		height:100%;
		float:none;
		margin:0 auto;
		text-indent:-999em;
	}

	.logo_area {min-height:auto;margin:0;}

	.logo_area > a {
		display:block;
		background: url('../images/common/ico_common.png') -150px top no-repeat;background-size:300px auto;
		width:12px;height:23px;
		position:absolute;left:12px;bottom:18px;
		text-indent: -99999px;overflow: hidden;
	}
	.logo_area h2{
		text-align:center;
	    line-height: 57px;padding:0;
	    border-bottom: 1px #d9d8d4 solid;
	    width: 100%;
	    font-size:1.125em;
	}

	.visual{
		background:url(../images/common/header_bg_m.jpg) right bottom no-repeat #f4f2ef;background-size:360px auto;
		min-height:auto;
		padding:30px 12px 25px 12px;
	}
	.mobile_only{
		display:block;
	}
	.desktop_only{
		display:none !important;
	}
	.visual_centerbar span{
		display:inline;
	}
	.accordionheader{
		padding:9px 35px 9px 15px;
		line-height: 1.45em;
	}
	
	.tab_basic li a {padding:0 5px;font-size:0.875em;}
	.tab_basic li a.active {font-size:1em;}
	.tab_basic li {line-height:1.385em;}
	.tab_subsection{
		margin-top:30px;
		padding:0 12px;
	}

	.half-block {float:none;width:100%;padding:0;}
	.half-block + .half-block {margin-top:45px;}
	
	.lb-radio:before {background-position:-175px -25px;background-size:300px auto;}
	.radio:checked + .lb-radio:before {background-position:-200px -25px;}
	.radio + .lb-radio, .checkbox + .lb-checkbox {margin-right:15px;}

	.lb-checkbox:before {background-position:-225px -25px;background-size:300px auto;}
	.checkbox:checked + .lb-checkbox:before {background-position:-250px -50px;}

	.addr {margin:0;}


	/** visual addition **/

	.visual {overflow:hidden;background:url();background-color:#f4f2ef;position:relative;}

	.visual .star1,	.visual .star2, .visual .star3,
	.visual .star7, .visual .star11 {display:none;}

	.visual .star4 {bottom:10px;right:-13px;}
	.visual .star5 {bottom:-40px;right:-20px;}
	.visual .star6 {bottom:5px;right:70px;}
	
	.visual .star8 {bottom:40px;right:60px;}
	.visual .star9 {bottom:50px;right:95px;}
	.visual .star10 {bottom:75px;right:135px;}

	.inquiryList {padding:30px 12px;}
	.inquiryList > ul >  li > a {padding:15px 40px 15px 15px;}
	.inquiryList > ul >  li > a:after {right:15px;background-size:300px auto;background-position:-100px top;}
	.inquiryList > ul >  li > a .info {margin-top:5tpx;}
}


@media all and (max-width:540px){
	.alert-wrap {left:20px;right:20px;max-width:100%;min-width:auto;}
	
}	

@media all and (max-width:360px){
	.addr span {
	    font-size: 0.65em;
	}
}
